In [10]:
#Write a function that checks if a given word is a palindrome.
class Palindrome:

    @staticmethod
    def is_palindrome(num):
        if num[::-1].lower() == num.lower():
            return True
        else:
            return False
       # return word == word[::-1]
       # return None

print(Palindrome.is_palindrome('Deleveled'))

#[::-1] is a way to reverse a list. updates the index by -1 on each iteration
#starts from 0, and on each iteration moves left by one

#[1::2] - select range between 1 and the end of list with step 2 (1st, 3rd, 5th, etc.)
#[::2] - select range b/w 0 and l with step 2
#[::-1] - select range b/w 0 and l with step -1 (move left by one step each time)

True

In [15]:
#non-function solution:
my_str = 'deleveled'
rev_str = reversed(my_str)

if list(my_str) == list(rev_str):
        print('True')
else:
        print('False')

True

In [21]:
#Another one
def reverse(s):
    return s[::-1]

def is_palindrome(s):
    rev = reverse(s)
    
    if (s==rev):
        return True
    return False

s = 'malayalam'
ans = is_palindrome(s)

if ans==1:
    print('True')
else:
    print('False')

True

In [ ]:
#DIRECTIONS: Write a function that checks if a given word is a palindrome.
class Palindrome:

    @staticmethod
    def is_palindrome(word):
        return None

print(Palindrome.is_palindrome('Deleveled'))

In [ ]:
'''
Implement a group_by_owners function that:
- accepts a dictionary containing the file owner names for each file name
- returns a dictionary containing a list of file names for each owner name, in any order

E.g., for dictionary{'input.txt': 'Randy', 'Code.py': 'Stan', 'Output.txt': 'Randy'}
the group_by_owners function should return

{'Randy': ['Input.txt', 'Output.txt'], 'Stan': [Code.py]}
'''

In [ ]:
class FileOwners:

    @staticmethod
    def group_by_owners(files):
        return None

files = {
    'Input.txt': 'Randy',
    'Code.py': 'Stan',
    'Output.txt': 'Randy'
}
print(FileOwners.group_by_owners(files))

In [ ]:
super_villians = {'fiddler': 'Isaac Bowin', 
                            'Captain Cold' : 'Leonard Snart'}
print(super_villians['Captain Cold'])

print(super_villians.keys())
print(super_villians.values())

In [ ]:
return files.values()

True

None

In [ ]:
'''
Given the following data definition, write a query that returns the # of students whose first
name is John.

TABLE students
    id INTEGER PRIMARY KEY,
    firstName VARCHAR(30) NOT NULL,
    lastName VARCHAR(30) NOT NULL;
    
INSERT INTO students (id, firstName, lastName)
VALUES (1, 'John', 'Smith');

INSERT INTO students (id, firstName, lastName)
VALUES (2, 'Jane', 'Doe');

INSERT INTO students (id, firstName, lastName)
VALUES (3, 'Sally', 'Smith');

INSERT INTO students (id, firstName, lastName)
VALUES (4, 'John', 'Roberts'); 

INSERT INTO students (id, firstName, lastName)
VALUES (5, 'Eleanor', 'Roosevelt');

INSERT INTO students (id, firstName, lastName)
VALUES (6, 'John', 'Jacobs');

'''

In [ ]:
# -- Write only the SQL statement that solves the problem and nothing else.
SELECT COUNT(firstName)
FROM students
WHERE firstName = John;

In [ ]:
'''
Each item in a web shop belongs to a different seller. To ensure service quality,
each seller has a rating. Data kept in following 2 tables:

TABLE sellers
    id INTEGER PRIMARY KEY,
    name VARCHAR(30) NOT NULL,
    rating VARCHAR(30) NOT NULL
    
TABLE items
    id INTEGER PRIMARY KEY,
    name VARCHAR(30) NOT NULL,
    sellerId INTEGER REFERENCES sellers(id)
    
Write a query that selects the item name and the name of its seller for each item
that belongs to a seller w/ a rating of more than 4
'''

In [ ]:
'''
EXAMPLE:
-- Suggested testing environment: 
-- http://sqlite.online/

-- Example case create statement:
CREATE TABLE sellers (
  id INTEGER NOT NULL PRIMARY KEY,
  name VARCHAR(30) NOT NULL,
  rating INTEGER NOT NULL
);

CREATE TABLE items (
  id INTEGER NOT NULL PRIMARY KEY,
  name VARCHAR(30) NOT NULL,
  sellerId INTEGER REFERENCES sellers(id)
);

INSERT INTO sellers(id, name, rating) VALUES(1, 'Roger', 3);
INSERT INTO sellers(id, name, rating) VALUES(2, 'Penny', 5);

INSERT INTO items(id, name, sellerId) VALUES(1, 'Notebook', 2);
INSERT INTO items(id, name, sellerId) VALUES(2, 'Stapler', 1);
INSERT INTO items(id, name, sellerId) VALUES(3, 'Pencil', 2);

-- Expected output (in any order):
-- Item      Seller
-- ----------------
-- Notebook  Penny
-- Pencil    Penny
'''

In [ ]:
'''
First, join two lists into new list on id
Next, make name productname for joined list
Return name, product name where rating > 4
'''